@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

// -- Typography
p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

blockquote {
  color: @gray;
  font-style: italic;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

// Navigation

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  .navbar-brand {
    font-weight: 800;
  }
  .nav {
    li {
      a {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    background: transparent;
    border-bottom: 1px solid transparent;
    .navbar-brand {
      //color: white;
      padding: 20px;
      &:hover,
      &:focus {
        color: @white-faded;
      }
    }

    .nav {
      li {
        a {
          //color: white;

          &:hover,
          &:focus {
            color: @brand-primary;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1170px) {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -70px;
      background-color: fade(white, 90%);
      border-bottom: 1px solid darken(white, 5%);
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      .navbar-brand {
        color: @gray-dark;
        &:hover,
        &:focus {
          color: @brand-primary;
        }
      }
      .nav {
        li {
          a {
            color: @gray-dark;
            &:hover,
            &:focus {
              color: @brand-primary;
            }
          }
        }
      }
    }

    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}

// Header

.intro-header {
  h1 {
    color: white;
    span {
      background: @brand-primary;
      padding: 5px;
    }
  }
  hr {
    border-color: @brand-primary;
  }
  margin-top: 30px;
  background-color: @gray;
  background: no-repeat center center;
  background-attachment: scroll;
  .background-cover;
  min-height: 400px;
  max-height: 480px;
  // NOTE: Background images are set within the HTML using inline CSS!
  margin-bottom: 50px;
  .site-heading,
  .post-heading,
  .page-heading {
    padding: 100px 0 50px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 150px 0;
    }
  }
  .site-heading,
  .page-heading {
    text-align: center;
    h1 {
      margin-top: 0;
      font-size: 50px;
    }
    .subheading {
      font-size: 24px;
      line-height: 1.1;
      display: block;
      font-weight: 300;
      margin: 10px 0 0;
      span {
        background: @brand-primary;
        padding: 5px;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .subheading,
    .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      margin: 10px 0 30px;
      font-weight: 600;
    }
    .meta {
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
      a {
        color: white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }

      .subheading {
        font-size: 30px;
      }
    }
  }
}

// Post Preview Pages

.post-preview {
  > a {
    color: @gray-dark;
    &:hover,
    &:focus {
      text-decoration: none;
      color: @brand-primary;
    }
    > .post-title {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    > .post-subtitle {
      margin: 0;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }
  > .post-meta {
    color: @gray;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    > a {
      text-decoration: none;
      color: @gray-dark;
      &:hover,
      &:focus {
        color: @brand-primary;
        text-decoration: underline;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {
        font-size: 36px;
      }
    }
  }
}

// Sections

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
  }
}

// Contact Form Styles

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid @gray-light;
  input,
  textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }
  label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
  }
  &::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid @gray-light;
  }
}

.floating-label-form-group-with-value {
  label {
    top: 0;
    opacity: 1;
  }
}

.floating-label-form-group-with-focus {
  label {
    color: @brand-primary;
  }
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid @gray-light;
}

// Pager Styling

.pager {

  margin: 20px 0 0;

  li {
    > a,
    > span {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 15px 25px;
      background-color: white;
      border-radius: 0;
    }

    > a:hover,
    > a:focus {
      color: white;
      background-color: @brand-primary;
      border: 1px solid @brand-primary;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: @gray;
      background-color: @gray-dark;
      cursor: not-allowed;
    }
  }
}

// -- Highlight Color Customization

::-moz-selection {
  color: white;
  text-shadow: none;
  background: @brand-primary;
}

::selection {
  color: white;
  text-shadow: none;
  background: @brand-primary;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  webkit-tap-highlight-color: @brand-primary;
}

.post-preview {
  position: relative;
}

.post-preview a {
  transition: .3s;
  h2, h3 {
    transition: .3s;
  }
}

.post-preview:hover a {
  color: #e51c23 !important;
  h2, h3 {
    color: #e51c23 !important;
  }
}

.article-tags a {
  color: #fff !important;
  text-decoration: none;
}

.article-tags {
  position: absolute;
  top: 15px;
  background: rgba(229, 28, 35, 1);
  color: #fff;
  padding: 8px;
  font-size: 12px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  transition: .3s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  left: -10px;
  &::before {
    display: block;
    width: 10px;
    height: 0px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    content: "";
    border-bottom: 10px solid transparent;
    border-right: 10px solid darken(rgba(229, 28, 35, 1), 20%);
  }
}

/* side-bar menu */

.sidebar-menu .item.active {
  border-bottom: none;
  padding-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.sidebar-menu-items .content {
  display: none;
}

.sidebar-menu-container {
  /*border: 1px solid #337ab7;*/
  margin-top: -24px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.sidebar-menu-contact {
  font-size: 12px;
}

.sidebar-menu-contact .btn {
  padding: 5px;
}

.authors .author {
  margin-bottom: 15px;
}

.navbar-brand img {
  float: left;
  width: 50px;
  margin-top: -13px;
  margin-right: 15px;
}