// Custom styles

.left-brand-border {
  border-left: 3px solid @brand-primary;
}

.bottom-brand-border {
  border-bottom: 3px solid @brand-primary;
}

.authors {
  img {
    margin-bottom: 15px;
  }
}

.media {
  .media-left {
    img {
      width: 32px;
    }
  }
  .media-body {
    font-size: 12px;
    line-height: 14px
  }
}