.spacer5 {
  width: 100%;
  height: 5px;
  clear: both;
}

.spacer10 {
  width: 100%;
  height: 10px;
  clear: both;
}

.spacer15 {
  width: 100%;
  height: 15px;
  clear: both;
}

.spacer20 {
  width: 100%;
  height: 20px;
  clear: both;
}

.spacer30 {
  width: 100%;
  height: 30px;
  clear: both;
}