/*!
Theme Name: Maghiaromania Wordpress
Theme URI:  http://maghiaromania.com/
Description: WordPress theme (using Grunt & Bower)
Version: 1.0.0
Author: Szanto Zoltan
Author URI: http://szanto-zoltan.com
Tags: pink
License: GNU General Public License
License URI: license.txt
*/

// Google fonts
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700);

// Font Awesome icons
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "fonts"; // Font Awesome font directory override

// Bootstrap imports

// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";
@import "custom-variables.less";
@import "custom-mixins.less";

// Reset
@import "../bower_components/bootstrap/less/normalize.less";
@import "../bower_components/bootstrap/less/print.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
@import "../bower_components/bootstrap/less/code.less";
@import "../bower_components/bootstrap/less/grid.less";
@import "../bower_components/bootstrap/less/tables.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/buttons.less";

// Components
@import "../bower_components/bootstrap/less/component-animations.less";
@import "../bower_components/bootstrap/less/glyphicons.less";
@import "../bower_components/bootstrap/less/dropdowns.less";
@import "../bower_components/bootstrap/less/button-groups.less";
@import "../bower_components/bootstrap/less/input-groups.less";
@import "../bower_components/bootstrap/less/navs.less";
@import "../bower_components/bootstrap/less/navbar.less";
@import "../bower_components/bootstrap/less/breadcrumbs.less";
@import "../bower_components/bootstrap/less/pagination.less";
@import "../bower_components/bootstrap/less/pager.less";
@import "../bower_components/bootstrap/less/labels.less";
@import "../bower_components/bootstrap/less/badges.less";
@import "../bower_components/bootstrap/less/jumbotron.less";
@import "../bower_components/bootstrap/less/thumbnails.less";
@import "../bower_components/bootstrap/less/alerts.less";
@import "../bower_components/bootstrap/less/progress-bars.less";
@import "../bower_components/bootstrap/less/media.less";
@import "../bower_components/bootstrap/less/list-group.less";
@import "../bower_components/bootstrap/less/panels.less";
@import "../bower_components/bootstrap/less/wells.less";
@import "../bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../bower_components/bootstrap/less/modals.less";
@import "../bower_components/bootstrap/less/tooltip.less";
@import "../bower_components/bootstrap/less/popovers.less";
@import "../bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/responsive-utilities.less";
@import "spacers.less";

// Clean blog
@import "clean-blog.less";

// Google Material Design
@import "paper.less";

// Custom Style
@import "custom.less";

// Navbar
@import "navbar/navbar-universal.less"; // Universal navbar style
@import "navbar/navbar-visible.less";   // When navbar is scrolled down

// Single article
@import "single-article.less";

// Tag links
@import "tag-links.less";

.typeahead-container {
  position: relative;
  z-index: 998;
  background-color: #fff;
}

.typeahead-container.result,
.typeahead-container.filter {
  z-index: 999;
}

.typeahead-result > ul > li.typeahead-group a {
  background-color: #eee;
  font-size: 14px;
  color: #333;
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0,0,0,0.75);
  -moz-text-shadow: 0 1px 0 rgba(0,0,0,0.75);
  -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.75);
}


/*------------------------------------*\
    INPUT, BUTTON & DROPDOWN
\*------------------------------------*/

.typeahead-container .input-group-btn {
  z-index: 1001;
}

.typeahead-container .typeahead-result > .dropdown-menu {
  display: block;
  width: 100%;
}

.typeahead-container .input-group .dropdown-menu {
  z-index: 1001;
}

.typeahead-container .input-group .form-control {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.typeahead-container .btn[type="button"] {
  border-radius: 0;
  margin-left: -1px;
}

.single-article img { height: auto; max-width: 100%; }
.wp-caption { width: auto !important; }

p.form-allowed-tags, p.form-allowed-tags + div.alert-info {
  display: none;
}

.footer-logo {
  max-width: 100px;
  margin-top: 15px;
}


