.tag-links {
  a {
    background-color: @gray-dark;
    border-radius: 0 2px 2px 0;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.2727272727;
    margin: 2px 4px 2px 10px;
    padding: 3px 7px;
    position: relative;
    text-transform: uppercase;
    transition: .2s;
    text-decoration: none;
    &:before {
      border-top: 10px solid transparent;
      border-right: 8px solid @gray-dark;
      border-bottom: 10px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      top: 0;
      left: -8px;
      width: 0;
      transition: .2s;
    }
    &:after {
      background-color: #fff;
      border-radius: 50%;
      content: "";
      height: 4px;
      position: absolute;
      top: 8px;
      left: -2px;
      width: 4px;

    }
    &:hover {
      background-color: @brand-primary;
      color: #fff;
      transition: .2s;
      &:before {
        border-right-color: @brand-primary;
      }
    }
  }
}