#header-search {
  background: no-repeat;
  background-image: url("img/icons/search-w.png");
  background-position: 100% 50%;
  width: 70%;
  transition: .3s;
  &:focus {
    width: 100%;
  }
}

.navbar-fixed-top.is-visible.is-fixed {
  #header-search {
    background-image: url("img/icons/search.png");
    color: inherit;
  }
}

.input-group.social-buttons {
  margin: 10px 10px 0 0;
  .fa-facebook-square {
    color: #3B5998;
  }

  .fa-envelope-o {
    color: @brand-primary;
  }
}

.navbar-custom {
  background: rgba(255, 255, 255, 1);
  color: @gray-dark;
  a {
    color: @gray-dark;
    &:hover {
      color: @brand-primary;
    }
  }
  .input-group {
    color: @gray-dark !important;
  }
}

.navbar-default .navbar-nav > .active > a {
  background: transparent;
  color: @brand-primary !important;
}

@media only screen and (max-width: 350px) {
  .navbar-brand-img {
    display: none;
  }
}